nav {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    color: white;
    padding: 12px 20px;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(90deg, #0e0e0e, #1f1f1f);

}

 .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2rem;
    align-items: center;
}

h2 {
    padding-left: 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

.api-table {
    width : 100%;
    border-collapse: collapse;
    text-align: left;
    
}
.api-table td, th {
        padding: 10px;
}

.history-table{
    padding: 20px;
    width : 100%;
    border-collapse: collapse;
    background-color: #3a3a3a;
}
.company-data{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    
}

.company-summary {
    display: flex;
    flex-direction: column;
    
    padding: 1rem;
}
.company-summary div {
    padding: 1rem;
    margin: 1rem;
    
}

body {
    background-color: #2a2a2a;
    color: whitesmoke;
}

main {
    text-align: center;
    padding: 40px;
    justify-items: center;
 


}
main p {
        text-align: left;
        width: 40%;
    }


.company-info{
    border-collapse: collapse;
    width: 100%;
}

#financial-header {
    vertical-align: top;
    padding-top: 10px;
    color: #f5f5f5;
}

#financials-table {
    width: 100%;
    border-collapse: collapse;

}
