nav {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    color: white;
    padding: 12px 20px;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(90deg, #0e0e0e, #1f1f1f);

}

 .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}



